#footer {
  margin-top: 100px
  text-align: center
  color: #bfbfbf
  font-size: 12px
  text-shadow: 0 1px 0 #777777

  a:link, a:visited {
    color: #bfbfbf
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline
  }
}